body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1953px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:1788px;
  top:201px;
  width:165px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
